
#hStyle {
    color: #9e2a2b; 
    font-family: Wire One; 
    font-size: 100px;
}

.fa-bone {
    color: #fff3b0;
    font-size: 70px;
}

#imgDiv {
    margin-top: -25px; 
    min-height: 300px;
    display: flex; 
    justify-content: center;
}


#outPut {
    color: #e09f3e; 
    font-family: Wire One; 
    font-size: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: -90px;
}

#someValue{
    border-radius: 5px;
    border: none;
    width: 170px;
    height: 32px;
    font-family: Wire One;
    font-size: 27px;
    font-weight: bold;
    margin-top: 10px;
}

#toDoDiv {
    background-color: #e09f3e;
    font-family: Wire One;
    font-size: 20px;
    margin-top: -20px;
    width: 200px;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
